:root {
  --carambar-yellow: #FFD700; /* Carambar yellow */
  --carambar-orange: #FFA500; /* A bit more orange for accents */
  --carambar-dark: #333;
  --text-color: #333;
  --card-bg: #FFF;
  --button-bg: #E67A00; /* Orange-red for the button */
  --button-hover-bg: #CC6D00;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--carambar-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
